<nav class="navbar navbar-default" ng-click="$event.preventDefault()">
    <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Actor's searcher</a>
        </div>
        <ul class="nav navbar-nav">
          <li class="active"><a href="#" ng-click="active='home'">Home</a></li>
          <li><a href="#" ng-click="active='about'">About</a></li>
          <li><a href="#" ng-click="active='contact'">Contact</a></li> 
        </ul>
  </div>
</nav>