/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 14/08/2016, 03:32:07 PM
    Author     : Margarita
*/

/*-------------------------
	Simple reset
--------------------------*/


*{
	margin:0;
	padding:0;
}
/*-------------------------
	General Styles
--------------------------*/

.marging-top
{
    margin-top: 10px;
}